
@{
    ViewBag.Title = "MostrarDatosProcesados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.nombre</h1>
<h1>@ViewBag.antiguedad</h1>
<h1>@ViewBag.hrstrab</h1>
<h1>@ViewBag.valorH</h1>
<h2>@ViewBag.total</h2>
<h2>MostrarDatosProcesados</h2>






